In [69]:
from faker import Faker
import pandas as pd
import random

fake = Faker()

# Generate fake data for n apartments
n = 100
jobs = []
for i in range(n):
    jobs.append({
        'id': i,
        'latitude': random.uniform(0, 100),
        'longitude': random.uniform(0, 100),
        
        'job_name': fake.job(),
        'job_description': fake.text(),
        'intersts': {'sports': fake.random_int(min=0, max=100, step=1),'music': fake.random_int(min=0, max=100, step=1), 'movies': fake.random_int(min=0, max=100, step=1),'books': fake.random_int(min=0, max=100, step=1),'travel': fake.random_int(min=0, max=100, step=1),'food': fake.random_int(min=0, max=100, step=1),'pets': fake.random_int(min=0, max=100, step=1),'fashion': fake.random_int(min=0, max=100, step=1),'gaming': fake.random_int(min=0, max=100, step=1),'cars': fake.random_int(min=0, max=100, step=1),'politics': fake.random_int(min=0, max=100, step=1),'religion': fake.random_int(min=0, max=100, step=1),'technology': fake.random_int(min=0, max=100, step=1),'science': fake.random_int(min=0, max=100, step=1),'history': fake.random_int(min=0, max=100, step=1),'nature': fake.random_int(min=0, max=100, step=1),'space': fake.random_int(min=0, max=100, step=1),'art': fake.random_int(min=0, max=100, step=1),'math': fake.random_int(min=0, max=100, step=1),'health': fake.random_int(min=0, max=100, step=1),'fitness': fake.random_int(min=0, max=100, step=1),'cooking': fake.random_int(min=0, max=100, step=1),'finance': fake.random_int(min=0, max=100, step=1),'business': fake.random_int(min=0, max=100, step=1),'law': fake.random_int(min=0, max=100, step=1),'education': fake.random_int(min=0, max=100, step=1),'medicine': fake.random_int(min=0, max=100, step=1),'pharmacy': fake.random_int(min=0, max=100, step=1),'psychology': fake.random_int(min=0, max=100, step=1),'engineering': fake.random_int(min=0, max=100, step=1),'architecture': fake.random_int(min=0, max=100, step=1),'design': fake.random_int(min=0, max=100, step=1)},
        # generate random job requirementd
        'distance_from_central': random.uniform(0, 10),
        'city': fake.city()
    })
    
    

# Convert the list of dictionaries to a pandas DataFrame
jobs = pd.DataFrame(jobs)
# Save the data to a CSV file
jobs.to_csv('job_opp.csv', index=False)

In [52]:
import mysql.connector
import numpy as np 

job_columns = ['id',
 'latitude',
 'longitude',
 'job_name',
 'job_description',
 'intersts',
 'distance_from_central']

cdt_columns = ['name', 'id', 'degree', 'field_of_study', 'university', 'graduation_year', 'courses',
           'health_history', 'intersts', 'car', 'house', 'job', 'city', 'country', 'date_of_birth', 
           'family_members', 'company_coords']

cnx = mysql.connector.connect(
                host="rm-l4vtsmuu203976dh4qo.mysql.me-central-1.rds.aliyuncs.com",
                user="admin_account",
                password="Admin@2023",
                database="mysql"
        )
cursor = cnx.cursor()

# query = f"SELECT * FROM new_schema.apartment_data"
# cursor.execute(query)
# jobs = cursor.fetchall()
# jobs = dict(zip(job_columns, np.array(jobs).T))
# jobs = pd.DataFrame(data=jobs)
# jobs = jobs[jobs['availability'] == 'available']

# query = f"SELECT * FROM new_schema.data WHERE id = \"{id}\""
query = f"SELECT * FROM new_schema.data WHERE id = '398-19-6732' "
cursor.execute(query)
cdt = cursor.fetchall()
cdt = dict(zip(cdt_columns, np.array(cdt).T))
print(cdt)
cdt = pd.DataFrame(data=cdt).iloc[0]

# split the coords into two
cdt['latitute'] = float(cdt['company_coords'].split(',')[0].replace('[', ''))
cdt['longitude'] = float(cdt['company_coords'].split(',')[1].replace(']', ''))
cdt.drop('company_coords', inplace=True)

{'name': array(['Nathan Reyes', 'Nathan Reyes'], dtype='<U470'), 'id': array(['398-19-6732', '398-19-6732'], dtype='<U470'), 'degree': array(['Bachelor', 'Bachelor'], dtype='<U470'), 'field_of_study': array(['Medicine', 'Medicine'], dtype='<U470'), 'university': array(['University College London', 'University College London'],
      dtype='<U470'), 'graduation_year': array(['2016', '2016'], dtype='<U470'), 'courses': array(["{'math': 85, 'art': 63, 'science': 36, 'pe': 18, 'engineering': 39}",
       "{'math': 85, 'art': 63, 'science': 36, 'pe': 18, 'engineering': 39}"],
      dtype='<U470'), 'health_history': array(['Sick', 'Sick'], dtype='<U470'), 'intersts': array(["{'sports': 10, 'music': 58, 'movies': 12, 'books': 70, 'travel': 93, 'food': 12, 'pets': 98, 'fashion': 60, 'gaming': 27, 'cars': 53, 'politics': 95, 'religion': 70, 'technology': 100, 'science': 91, 'history': 70, 'nature': 39, 'space': 62, 'art': 37, 'math': 19, 'health': 41, 'fitness': 41, 'cooking': 68, 'finance': 22, 'business': 29, 'law': 23, 'education': 52, 'medicine': 38, 'pharmacy': 14, 'psychology': 55, 'engineering': 88, 'architecture': 44, 'design': 35}",
       "{'sports': 10, 'music': 58, 'movies': 12, 'books': 70, 'travel': 93, 'food': 12, 'pets': 98, 'fashion': 60, 'gaming': 27, 'cars': 53, 'politics': 95, 'religion': 70, 'technology': 100, 'science': 91, 'history': 70, 'nature': 39, 'space': 62, 'art': 37, 'math': 19, 'health': 41, 'fitness': 41, 'cooking': 68, 'finance': 22, 'business': 29, 'law': 23, 'education': 52, 'medicine': 38, 'pharmacy': 14, 'psychology': 55, 'engineering': 88, 'architecture': 44, 'design': 35}"],
      dtype='<U470'), 'car': array(['Ferrari', 'Ferrari'], dtype='<U470'), 'house': array(['RV', 'RV'], dtype='<U470'), 'job': array(['Architectural and Civil Drafters',
       'Architectural and Civil Drafters'], dtype='<U470'), 'city': array(['Markberg', 'Markberg'], dtype='<U470'), 'country': array(['Cayman Islands', 'Cayman Islands'], dtype='<U470'), 'date_of_birth': array(['1934-01-30', '1934-01-30'], dtype='<U470'), 'family_members': array(['6', '6'], dtype='<U470'), 'company_coords': array([' [15.731208991548051, 54.12221928781784]',
       ' [15.731208991548051, 54.12221928781784]'], dtype='<U470')}

In [93]:
import sklearn.metrics
cdt_interests = np.array([v for k,v in eval(cdt['intersts']).items()])
jobs_values =jobs['intersts'].apply(lambda x: np.array([v for k,v in x.items()])).to_numpy()
jobs_values = [i - cdt_interests for i in jobs_values]
dot_jobs_cdt = np.linalg.norm(jobs_values, axis=0)
sorted_jobs = np.argsort(dot_jobs_cdt)[::5]
jobs.iloc[sorted_jobs]

,id,latitude,longitude,job_name,job_description,intersts,distance_from_central,city
9,9,49.791574,40.587184,Estate manager/land agent,Office dark check possible sing more on. Parti...,"{'sports': 50, 'music': 23, 'movies': 23, 'boo...",4.556693,Perezborough
7,7,43.843519,42.730339,Clinical research associate,Television work power despite. Growth by able ...,"{'sports': 3, 'music': 6, 'movies': 19, 'books...",8.586149,West Joe
30,30,53.700160,13.765889,Public relations officer,Character indicate organization star. Apply on...,"{'sports': 51, 'music': 35, 'movies': 8, 'book...",7.136908,Cameronbury
17,17,8.909751,66.043764,Ceramics designer,But within talk arm build. Age like society wi...,"{'sports': 90, 'music': 76, 'movies': 67, 'boo...",7.454122,Amyfort
24,24,38.831204,21.084603,"Engineer, site",Its practice special. Certain with open necess...,"{'sports': 29, 'music': 14, 'movies': 46, 'boo...",6.100066,East Roger
27,27,48.000971,79.275948,Housing manager/officer,Late point left sort. Human economic trial me ...,"{'sports': 97, 'music': 6, 'movies': 98, 'book...",2.553890,Odonnellchester
6,6,17.989977,1.129664,Quarry manager,Wind plant reveal. Leave prove wind number mar...,"{'sports': 24, 'music': 81, 'movies': 7, 'book...",5.694973,North Roberttown